<ul class="sidenav" id="mobile-demo">
    <li><a href="#" class="blue-text"> <i class="material-icons left blue-text">home</i> About</a></li>
    <li><a href="#" class="blue-text"> <i class="material-icons left blue-text">groups</i> Contact Us</a></li>
</ul>