<div class="navbar-fixed">
  <nav class="#f44336 red">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo white-text">iPAY</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"
          ><i class="material-icons">menu</i></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="#" class="white-text">
              <i class="material-icons left">home</i>About</a
            >
          </li>
          <li>
            <a href="#" class="white-text">
              <i class="material-icons left">groups</i>Contact Us</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
